/* Default layout for desktop */
.overview-container {
    padding: 50px;
  }
  
  /* Adjustments for small screens */
  @media (max-width: 767px) {
    .overview-container {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  
    .full-width-col {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  
    .full-width-card {
      width: 100% !important;
      margin: 0 !important;
      border-radius: 0 !important;
    }
  }
  